DOMAIN=https://iamnotmyself.auth0.com/
TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFSTNNRU0wUXpGRU1ESkdRak00TTBFME9FRTFSVFJETUVaQ016UkRORGxDTlVRMFJqUXdNQSJ9.eyJpc3MiOiJodHRwczovL2lhbW5vdG15c2VsZi5hdXRoMC5jb20vIiwic3ViIjoiN1hJUzBCaXl1UU10bTlENEUzV1YyeHpyM1FjVjNJU3ZAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vZXhwZW5zZXMtYXBpIiwiaWF0IjoxNTQ5OTkxNDUxLCJleHAiOjE1NTAwNzc4NTEsImF6cCI6IjdYSVMwQml5dVFNdG05RDRFM1dWMnh6cjNRY1YzSVN2IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.GbCXpqmhm6TiZYYpEu-Bi0cTwGYF2pCIJpzgKn_KjmXz83dkQYhHNrO5ULNNIWo16S0VS1WhFMNVdmoaDXwCkrq_1GizG5DOwm1KGh49ZQhePzXTzF-M1AAOOrnb_itiKjls5A4EYJnIeq9tf_MHjOU4gzDWWBPO5wJC6yoCtxeXl9cf0BGva_9BaQhF2XtKMmN8JKAq-hNuFVtUHIfy5GbYPKMVhPDIYdMdA-flbBHvJw07a-4UxVX_wOKTkcy3nb8893K50T9W4TxXaJBSSXhG8rHhr8CNzvpKq6phnQX0pGlmCbcd9qMBP43bUlkfXI5qLxXPUdBZJmnXL7oCjw